<tui-root>
  <div class="container">
    <form class="b-form" [formGroup]="testForm">
      <h1>Добавить фильм:</h1>
      <tui-input #movieName formControlName="addMovie">
        Введите название фильма
        <input tuiTextfield type="text" />
      </tui-input>
      <button tuiButton type="button" class="button_add" (click)="createMovie(movieName.value)">
        Добавить
      </button>

      <h1>Показать фильм:</h1>
      <tui-input #read formControlName="readMovie">
        Введите id фильма
        <input tuiTextfield type="text" />
      </tui-input>
      <button tuiButton type="button" class="button_add" (click)="readMovie(read.value)">
        Показать
      </button>

      <div style="font-size: 24px; margin-top: 20px;" *ngIf="movieData">
        <div>id: {{movieData.id}}</div>
        <div>title: {{movieData.title}}</div>
      </div>

      <h1>Обновить данные по фильму:</h1>
      <tui-input formControlName="updateMovie" #update>
        Введите id фильма
        <input tuiTextfield type="text" />
      </tui-input>

      <tui-input formControlName="newMovie" #name>
        Введите новое название фильма
        <input tuiTextfield type="text" />
      </tui-input>

      <button tuiButton type="button" class="button_add" (click)="updateMovie(update.value, name.value)">
        Сохранить
      </button>

      <h1>Удалить фильм</h1>

      <tui-input formControlName="idMovie" #id>
        Введите id фильма
        <input tuiTextfield type="text" />
      </tui-input>

      <button tuiButton type="button" class="button_add" (click)="deleteMovie(id.value)">
        Удалить
      </button>
    </form>
  </div>
</tui-root>